<div class="recipe recipe-list">
  <div class="recipe-thumbnail">
    <a routerLink="/recipe-detail">
      <img src="assets/images/recipes/{{recipe.image}}" alt="Recipe" routerLink="/recipe" [queryParams]="{recipeId: recipe.id}" >
    </a>
  </div>
  <div class="recipe-body">
    <h5 class="recipe-title"> <a [routerLink]="['/recipe', recipe.id]" >{{recipe.title}}</a> </h5>
    <ngb-rating [(rate)]="recipe.rating"  [readonly]="true" [max]="5"></ngb-rating> {{recipe.rating | number : '1.0-2' }}&nbsp;({{recipe.ratingCount}})
    <p class="recipe-text">{{recipe.description}}</p>
    <div class="recipe-meta">
      <app-recipe-diffulty [difficulty]="recipe.difficulty"></app-recipe-diffulty>
      
      <div class="recipe-steps" data-toggle="tooltip" data-placement="top" title="{{recipe.steps}} Steps">
        <span><i class="fas fa-concierge-bell"></i> {{recipe.steps}} Steps</span>
      </div>
      <div class="recipe-duration" >
        <span><i class="fas fa-stopwatch"></i> {{recipe.time}}</span>
      </div>
    </div>
  </div>
</div>
