<div class="subheader bg-cover dark-overlay dark-overlay-2" style="background-image: url('assets/images/header/{{image}}')">
    <div class="container">
      <div class="subheader-inner">
        <h1>{{section}}</h1>
        <!--<nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/recipe-archive">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/recipe-archive">Recipes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recipe</li>
          </ol>
        </nav> -->
      </div>
    </div>
  </div>