<!-- Subheader Start -->
<app-sub-header></app-sub-header>
<!-- Subheader End -->

<!-- Recipes Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <div>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select multiple [(ngModel)]="selectedCategories" (selectionChange)="selectionChanged($event)">
            <mat-option *ngFor="let element of cats" [value]="element.optionValue">{{element.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
      </div>
      <div>
        <mat-form-field>
          <mat-label>Difficulty</mat-label>
          <mat-select multiple [(ngModel)]="selectedDiff" (selectionChange)="selectionChanged($event)">
            <mat-option *ngFor="let element of difficulties" [value]="element.optionValue">{{element.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
      </div>
      <div>
        <mat-form-field>
          <mat-label>Time</mat-label>
          <mat-select multiple [(ngModel)]="selectedTime" (selectionChange)="selectionChanged($event)">
            <mat-option *ngFor="let element of times" [value]="element.optionValue">{{element.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <!-- Recipes Start -->
      <div class="col-lg-8">
        <app-recipe-card [recipe]="recipe" *ngFor="let recipe of recipesfiltered; let i = index"></app-recipe-card>

        <!-- Pagination Start -->
        <!--<ul class="pagination">
              <li class="page-item"><a class="page-link" routerLink="/recipe-archive">1</a></li>
              <li class="page-item active">
                <a class="page-link" routerLink="/recipe-archive">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" routerLink="/recipe-archive">3</a></li>
            </ul>-->
        <!-- Pagination End -->

      </div>
      <!-- Recipes End -->

      <!-- Sidebar Start -->
      <!--<div class="col-lg-4">
          <app-recipe-sidebar></app-recipe-sidebar>
        </div>-->
      <!-- Sidebar End -->

    </div>

  </div>
</section>
<!-- Recipes End -->