<!-- Subheader Start -->
<app-sub-header></app-sub-header>
<!-- Subheader End -->

<!-- Recipe Start -->
<div class="section section-padding single-post-1">
  <div class="container">

    <div class="row">
      <div class="col-lg-8">

        <!-- Content Start -->
        <article class="post-single">
          <div class="post-thumbnail">
            <img src="/assets/images/recipes/{{recipe?.image}}" alt="{{recipe.title}}">
            <div [hidden]="!recipe.hasVideo" class="video-player-trigger">
              <a href="{{recipe.video}}" class="popup-youtube">
                <i class="fas fa-play"></i>
                <div class="video-player-icons">
                  <i class="flaticon-pot"></i>
                  <i class="flaticon-taco"></i>
                  <i class="flaticon-bread"></i>
                  <i class="flaticon-chef"></i>
                  <i class="flaticon-diet"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="post-categories">
            <a *ngFor="let tag of recipe.tags" routerLink="/recipe-detail">{{tag}}</a>
          </div>
          <h2 class="title">{{recipe.title}}</h2>
          <ngb-rating [(rate)]="recipe.rating"  [max]="5" (rateChange)="submitRate($event)" [readonly]="!isLoggedIn" data-toggle="tooltip" data-placement="bottom" title="Login to rate"></ngb-rating>
          <div class="post-meta">
            <!--<ul class="list-inline list-inline-xxs offset-top-15">
              <li><span class="icon icon-xs mdi mdi-star text-primary text-middle"></span></li>
              <li><span class="icon icon-xs mdi mdi-star text-primary text-middle"></span></li>
              <li><span class="icon icon-xs mdi mdi-star text-primary text-middle"></span></li>
              <li><span class="icon icon-xs mdi mdi-star text-primary text-middle"></span></li>
              <li><span class="icon icon-xs mdi mdi-star text-light text-middle"></span></li>
            </ul>
            <div class="text-primary">
              <span class="text-middle">(95 made it</span>
              <span class="text-middle text-light">&nbsp; | &nbsp;</span><span class="text-middle">54 reviews)</span>
            </div>-->
            <div class="recipe-duration">
              <span><i class="fas fa-stopwatch"></i>{{recipe.time}}</span>
            </div>
          </div>
          <div class="post-content">
            <div class="recipe-ingredients">
              <h4>Ingredients</h4>
              <ul class="ct-list">
                <li *ngFor="let ingrediant of recipe.recipeIngrediants; let i = index;">{{ingrediant.ingrediant}}</li>
              </ul>
            </div>
            <div class="recipe-instructions">
              <h4>Instructions</h4>
              <ul>
                <li *ngFor="let step of recipe.steps; let i = index;">
                  <h5>Step {{i+1}}</h5>
                  <p>
                    {{step}}
                  </p>
                </li>
              </ul>
            </div>

          </div>
        </article>
        <!-- Content End -->

        <!-- Comments Start -->
        <div class="comments-list">
          <h4>{{comments.length}} Comments</h4>
          <ul>
            <app-comment *ngFor="let comment of comments; let i = index;" [comment]="comment"></app-comment>
          </ul>
        </div>
        <div class="comment-form">
          <h4>Leave a Reply</h4>
          <form method="post">
            <div class="row">
              <div class="col-md-12 form-group">
                <textarea class="form-control" placeholder="Type your comment..." name="comment" rows="7"
                  [(ngModel)]="comment"></textarea>
              </div>
            </div>
            <app-login>
              <button type="button" class="btn-custom primary" name="button" (click)="addComment()">Post
                comment</button>
            </app-login>
            <!--<button type="button" class="btn-custom primary" (click)="signInWithGoogle()" name="button">Google</button>
            <button type="button" class="btn-custom primary" (click)="signInWithFB()" name="button">Facebook</button> -->
          </form>
        </div>
        <!-- Comments End -->

      </div>
    </div>

  </div>
</div>
<!-- Recipe End -->
<script>
  $(document).ready(function () {
    $('.popup-youtube').magnificPopup({

     
      delegate: 'a',
      type: 'video'
    }).console.log("Tes");;
  });  
</script>