<!-- Aside (Mobile Navigation) -->
<aside class="main-aside">
  <a class="navbar-brand" routerLink="/"> <img src="/assets/images/ChezJuan.Logo.PNG" alt="logo"> </a>

  <div class="aside-scroll">
    <ul>
      <li class="menu-item menu-item-has-children">
        <a routerLink="recipes">Recipes</a>
      </li>
      <li class="menu-item menu-item-has-children">
        <a routerLink="bestof">Best Of Bergen</a>
      </li>
      <li class="menu-item">
        <a routerLink="/recommendations">Recommendations</a>
      </li>
      <li class="menu-item">
        <a routerLink="/contactus">Contact Us</a>
      </li>
    </ul>
  </div>
</aside>
<div class="aside-overlay aside-trigger"></div>

<!-- Header Start -->
<header class="main-header header-3 can-sticky header-fw">
  <nav class="navbar">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" routerLink="/"> <img src="/assets/images/ChefJuan.logo.jpg" alt="logo"> </a>
      <!-- Menu -->
      <ul class="navbar-nav">
        <li class="menu-item menu-item-has-children">
          <a routerLink="recipes">Recipes</a>
        </li>
        <li class="menu-item">
          <a routerLink="/bestof">Best Of Bergen</a>
        </li>
        <li class="menu-item">
          <a routerLink="/recommendations">Recommendations</a>
        </li>
        <li class="menu-item">
          <a routerLink="/contactus">Contact Us</a>
        </li>
      </ul>

      <div class="header-controls">
        <ul class="header-controls-inner">
          <li>
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <!--<mat-icon ngbDropdownToggle style="transform: scale(2);">account_circle</mat-icon>-->
                <img  width="40" Hwight="40" src="/assets/images/icons/user3.jpg">
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem [hidden]="!appContext.isLoggedIn"><div><img src="{{ appContext.user?.imageUrl }}" alt="User Photo" style="border-radius: 50%;"
                      width="60" Hwight="60"></div>{{ appContext.user?.name }}</button>
                  <button ngbDropdownItem [hidden]="appContext.isLoggedIn" (click)="Login()"><mat-icon>logout</mat-icon>Login</button>
                  <button ngbDropdownItem [hidden]="!appContext.isLoggedIn"(click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
                </div>
              </div>
            </div>
          </li>
          <!--<li class="search-dropdown-wrapper search-trigger">
            <i class="flaticon-magnifying-glass"></i>
          </li>-->
        </ul>
        <!-- Toggler -->
        <div class="aside-toggler aside-trigger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </nav>

  <!-- Search Form Start
  <div class="search-form-wrapper">
    <div class="search-trigger close-btn">
      <span></span>
      <span></span>
    </div>
    <form class="search-form" method="post">
      <input type="text" placeholder="Search..." value="">
      <button type="button" class="search-btn">
        <i class="flaticon-magnifying-glass"></i>
      </button>
    </form>
  </div>
   Search Form End-->
</header>
<!-- Header End -->